/* Color Palette
Noir Intense: #090005


*/
/* font-family
______________________
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;  */

/* Global style
______________________*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
ul {
    margin: 0px;
    padding: 0;
    list-style: none;
}
h1, h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
h1 {
	font-size: 2.6em;
	letter-spacing: 3px;
	margin: 0;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: 1.5px;
	margin: 0;
}
a {
	text-decoration: none;
}
p {
	font-size: 1.1em;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
figure {
	margin: 0 auto;
	padding: 0;
	width: 600px;
}
img {
	display: block;
}
.superFat {
	font-size: 5.6em;
}
.col-img {
	width: 35%
}
.col-text {
	width: 65%;
	padding-bottom: 20px;
}
.col-wide h3:first-of-type {
	font-size: 1.2em;
	font-weight: 700;
	padding-bottom: 15px;
}
.col-wide p:first-of-type {
	margin-top: 5px;
}
.container {
  width: 98%;
  margin: 0 auto;
  padding: 0 30px;
}
.content-wrap {
	width: 65%;
	overflow: hidden;
	padding: 100px 100px;
}
.content-wrap h2 {
	font-size: 1.9em;
	padding-bottom: 20px;
}
.secondary-content {
	padding: 60px 30px;
	width: 35%;
}
.uppercase {
	text-transform: uppercase;
}
.bouton {
	background: #00FFFF;
	padding: 10px;
}
/*Navigation
______________________*/
nav {
	background: #ff4a03;
	text-align: center;
	top: 0;
	width: 100%;
}
nav a {
	border: 3px solid #262626;
	color: #262626;
	flex: 1 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	font-weight: 700;
	display: inline-block;
	height: 100%;
}
nav a:hover {
	background: #262626;
	border: 3px solid #ff4a03;
	color: #ff4a03;
	font-size: 1.8em;
}
/* Header
______________________*/
header {
	width: 100%;
	/*  width: 150px;  */
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 999;
}
header li{
	margin-right: 30px;
}
/* Animation */
header,nav, a, img, li{
	transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
}
header nav {
	display: inline-block;
	float: right;
}
header nav a {
	line-height: 40px;
}

/* Article and Footer
______________________*/
article, footer {
	background: #3B2D42;
	color: #8D99AE;
}
article  {
}
article h1, article h2 {
	color: #EDF2F4;
	margin: 0;
}
.center{
	text-align: center;
	margin: auto;
}
#about {
	background: #3B2D42;
	border-top: 1px dashed #FFFFFF;
	margin-top: 150px;
}
.flex {
	display: flex;
	justify-content: space-around;
}
.darkGrey{
	background: #262626;
}
.brand {
	color: #ff4a03;
	padding: 30px;
	width: 65%;
}
.brand a:hover{
	color: #fff;
}
.profil {
	background: #ff4a03;
	color: #262626;
	padding: 30px;
	width: 35%;
}
.profil h2 {
	font-size: 2.3em;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
}
.brand a {
	color: #ff4a03;
}
.categorie {
	display: flex;
	width: 100%
}
.profile-img {
	border-radius: 50%;
}
.download {
	bottom: 122px;
	color: #006666;
	right: 0;
	position: absolute;
}
footer {
	text-align: center;
}
.contact-info a {
	padding: 10px;
	display: inline-block;
}
/* Work Experience
______________________*/
.work {
	background: #EDF2F4;
}
.work h2 {
	color: #ff4a03;
	letter-spacing: 1px;
	padding-bottom: 20px;
}
h3 ~ p {
	margin: 0;
}
.job-description {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	margin-bottom: 25px;
}
.job-description li:first-of-type {
	font-size:  0.9em !important;
	font-weight: 700;
}
.job-description p:first-of-type {
	margin-top: 0;
}
.job-description a {
	color: #ff4a03;
	font-size: 0.9em;
}/* Education
______________________*/
.education h1, .education h2, .education h3, .education hp,{
	padding-left: 80px;
}
.education {
	background:linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.9)),url(http://www.optrickmedia.com/img/headerprague.jpg) rgba(0,0,0,1) no-repeat center fixed;
	color: white;
}
p + h3 {
	margin-top: 30px;
}
/* Media queries
______________________*/
/* Small desktop / portrait tablette - 1024px and smaller */
@media(min-width:900px) {
	.col-narrow {
		font-size: 1.4em;
		width: 10%;
	}
	.col-wide {
		width: 90%;
	}
}
@media(max-width:899px) {
	header {
		text-align: center;
	}
	.profile-img {
		width: 200px;
	}
}
/* myJavascript
______________________*/
.centerImg {
    margin: auto;
    width: 95%;
}
.sunset {
	max-width: 600px;
}
.cta a {
	display: inline-block;
	padding: 0 .5em;
	font-size: 2em;
	border: 5px solid #FFFCED;
}
.hide {
	height: 0;
	overflow: hidden;
}
