
.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}

.icon-behance {
	background-image: url('png/behance.png');
	background-repeat: no-repeat;
}

.icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
}

.icon-etsy {
	background-image: url('png/etsy.png');
	background-repeat: no-repeat;
}

.icon-linkedin {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
}